.hero {
    background-image: url('../../images/avi-waxman-xlO5WWQDcQQ-unsplash.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 275px;
}

#create-tourney-form textarea {
    height: 150px;
}