.hero {
    background-image: url('../../images/pawel-czerwinski-PtHP1wFSSYI-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}