.hero {
    background-image: url('../../../images/jeshoots-com-eCktzGjC-iU-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 275px;
}