.hero {
    background-image: url('../../images/kamil-s-xny2e95bvgA-unsplash.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
}